<%= step(@arr,5) %>

<div class="profile tag-box tag-box-v7">
	<div class="overflow-h">
		<h3 class="pull-left"><i class="fa fa-globe"></i> 单位信息</h3>
		<div class="pull-right">
			<a class="btn btn-sm btn-default" href="/users/edit_dep">
				<i class="fa fa-pencil"></i>
				修改单位信息
			</a>
		</div>
	</div>
	<%= show_tab(current_user.department,[{"div_id" => "dep-info-#{current_user.department.id.to_s}", "icon" => "fa-info-circle", "title" => "详细信息", "content" => show_xml_info(Department.xml,current_user.department)}, {"div_id" => "dep-logs-#{current_user.department.id.to_s}", "icon" => "fa-clock-o", "title" => "历史记录", "content" => show_logs(current_user.department)}]) %>
</div>

<div class="profile tag-box tag-box-v7">
	<div class="overflow-h">
		<h3 class="pull-left"><i class="fa fa-user"></i> 用户信息</h3>
		<div class="pull-right">
			<a class="btn btn-sm btn-default" href="/users/edit_user">
				<i class="fa fa-pencil"></i>
				修改用户信息
			</a>
		</div>
	</div>
	<%= show_tab(current_user,[{"div_id" => "user-info-#{current_user.id.to_s}", "icon" => "fa-info-circle", "title" => "详细信息", "content" => show_xml_info(User.xml,current_user)}, {"div_id" => "user-logs-#{current_user.id.to_s}", "icon" => "fa-clock-o", "title" => "历史记录", "content" => show_logs(current_user)}]) %>
</div>
