<div class='col-md-12'>
    <%#= _create_xml_form(@obj.class.xml,@obj,{"title"=>"创建新单位","grid"=>2,"method"=>"post","action"=>kobe_departments_path }) %>
</div>

<p>&nbsp;</p>

<div class='col-md-12'>
    <%= _create_xml_form(@obj2.class.xml,@obj2,{"title"=>"修改单位信息","grid"=>2,"method"=>"patch","action"=>kobe_department_path(@obj2)}) %>
</div>

<p>&nbsp;</p>

<div class='col-md-12'>
    <%= _show_xml_table(@obj2.class.xml,@obj2,{"title"=>"单位信息","grid"=>2}) %>
</div>