<div class='col-md-12'>
    <%#= _create_xml_form(@master_xml,@master,{"upload_files" => true,"title"=> raw('<i class="fa fa-pencil-square-o"></i> 录入采购项目'),"action"=>kobe_orders_path, "grid"=>2}) %>

    <%#= _create_xml_form(@obj.class.xml,@obj,{"upload_files" => true, "title"=>"创建新单位","grid"=>2,"method"=>"post","action"=>kobe_departments_path }) %>
</div>

<p>single form</p>
<div class='col-md-12'>
    <%#= _create_xml_form(@obj2.class.xml,@obj2,{"form_id"=>"update_form", "upload_files" => true,"min_number_of_files"=>2, "title"=> raw('<i class="fa fa-pencil-square-o"></i> 修改单位信息'),"grid"=>2,"method"=>"patch","action"=>kobe_department_path(@obj2)}) %>
<%= draw_myform(@single_form) %>
    
</div>

<p>master slave form</p>
<div class='col-md-12'>
<%= draw_myform(@ms_form) %>
</div>

<script type="text/javascript">
	$(function() {
		// 增加明细
		var add_div = $("#add_content");
		var add_max = add_div.siblings(".details_part").length;
		var add_content = add_div.html();
		add_div.empty();
		$("#add_button").click(function(){
			add_max += 1;
			add_div.before(add_content.replaceAll("_orz_",add_max));
		})

		// 折叠/展开明细
		$('body').on("click","div.details_part span i.fa",function(){
			$(this).toggleClass("fa-chevron-circle-down");
			$(this).toggleClass("fa-chevron-circle-right");
			$(this).parent().next("div.input_part").slideToggle("fast");
		});
	});
</script>