<div class="profile tag-box tag-box-v7">
	<div class="overflow-h">
		<h3 class="pull-left"><%= title.blank? ? '' : title %></h3>
		<div class="pull-right">
		<%= opt.blank? ? '' : opt %>
		</div>
	</div>
	<%= content.blank? ? '' : content %>
</div>