<%= form_tag(update_commit_kobe_department_path(@dep), method: 'post', class: 'sky-form no-border', id: 'commit_form') do %>

<section>
  <label class="label color-red">提交后不允许再修改，确定吗?</label>
</section>

<footer>
	<button class="btn-u" type="submit"><i class="fa fa-floppy-o"></i> 确 定 </button>
	<button class="btn-u btn-u-default" data-dismiss="modal" type="button"><i class="fa fa-repeat"></i> 取 消 </button>
</footer>
<% end %>