<section>
	<label class="label">操作理由 <span class="color-red">*</span></label>
	<label class="input">
		<i class="icon-append fa fa-pencil"></i>
		<input type="text" name="<%= input_name %>" id="<%= input_name %>" placeholder="操作理由" />
	</label>
</section>