/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require plugins/bootstrap/css/bootstrap.min
 *= require style
 *= require plugins/themes/default
 *= require plugins/ui-dialog
 *= require plugins/dialog-select
 *= require plugins/line-icons/line-icons
 *= require plugins/font-awesome/css/font-awesome.min
 *= require plugins/jquery.fileupload-ui
 *= require plugins/zTreeStyle
 *= require plugins/sky-forms/version-2.0.1/css/custom-sky-forms
 */

.text-red{color:#ff0000;}
table td {word-break: break-all;}
table th.select_all {width:36px;}
table th.index {width:56px;}
table th.status_badge {width:92px;}
table th.status_bar {width:142px;}
table th.date {width:88px;}
table th.time {width:140px;}
table th.cando {width:114px;}